/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

 /* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color:#131417;
    --secondary-background-color:#252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    --transparent-light-color: rgba(255, 255, 255,.05);
    --transparent-dark-color: rgba(0, 0, 0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
    font-size: var(--font-size-xsm);
    color: var(--light-color-alt);
    background: var(--secondary-background-color);
}

i{
    font-size: var(--font-size-md);
}

/* Theme clor change */
body.light-theme{
    --light-color: #3d3d3d;
    --light-color-alt: rgba(0,0,0,.6);
    --primary-background-color:#fff;
    --secondary-background-color:#f1f1f1;
    --hover-light-color: #fff;
    --transparent-dark-color: #f1f1f1;
    --transparent-light-color: rgba(0, 0, 0,.1);
}

.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.search-form-container{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s; 
}

.container{
    max-width: 400px;
}

input [type=text],
input [type=text]:focus{
    color: #fff;
    border: none;
    background:rgba(0,0,0,0.2);
    max-width: 400px;
}

.todos li{
    background:var(--primary-background-color);
}
.delete{
    cursor: pointer;
}

.filtered {
    display: none !important;
}